<div class="panel col-xs-12">
  <div class="panel-heading">
    <h2>
      Espaces supprimés
      <% if can? :manage, MeetingRoom %>
      <div class="pull-right">
        <%= link_to 'Retour à la liste', meeting_rooms_path, class: 'btn btn-link' %>
        <%= link_to 'Ajouter un espace', new_meeting_room_path, class: 'btn btn-primary' %>
      </div>
      <% end %>
    </h2>
  </div>

  <div class="panel-body">
    <%= render 'list' %>
  </div>
</div>
