<div class="panel col-xs-12">
  <div class="panel-heading panel-heading--bordered">
    <h2>
      Espaces
      <% if can? :manage, MeetingRoom %>
      <div class="pull-right">
        <%= link_to 'Ajouter un espace', new_meeting_room_path, class: 'btn btn-primary' %>
      </div>
      <% end %>
    </h2>
    <% if can? :manage, MeetingRoom %>
      <ul class="inline-list mt">
        <li><%= link_to "Tous", meeting_rooms_path %></li>
        <li><strong>Corbeille</strong></li>
      </ul>
    <% end %>
  </div>

  <div class="panel-body">
    <%= render 'list' %>
  </div>
</div>
