<div class="panel col-xs-12">
    <div class="panel-heading">
        <h2>Editing Meeting Room</h2>
    </div>
    <div class="panel-body">
        <%= render 'form', meeting_room: @meeting_room %>
    </div>
</div>