<div class="row">
  <div class="col-xs-12 col-md-4">

    <div class="panel">
      <div class="panel-heading">
        <h2>
          <%= @meeting_room.name %>
          <%= link_to 'Modifier', edit_meeting_room_path(@meeting_room), class: "btn btn-primary pull-right" %>
        </h2>
      </div>
      <div class="panel-body">

      </div>
    </div>

  </div>
  <div class="col-xs-12 col-md-8">
    <div class="panel">
      <div class="panel-heading">
        <h2>Liste des réservations</h2>
      </div>
      <div class="panel-body"></div>

    </div>
  </div>
</div>
