@keyframes brand-anim {

  0% {
    color: $brand-blue;
  }

  20% {
    color: $brand-cyan;
  }

  40% {
    color: $brand-green;
  }

  60% {
    color: $brand-yellow;
  }

  80% {
    color: $brand-orange;
  }

  100% {
    color: $brand-red;
  }

}
