@keyframes brand-anim {

  0% {
    color: $brand-blue-blue;
  }

  20% {
    color: $brand-blue-cyan;
  }

  40% {
    color: $brand-blue-green;
  }

  60% {
    color: $brand-blue-yellow;
  }

  80% {
    color: $brand-blue-orange;
  }

  100% {
    color: $brand-blue-red;
  }

}
