// base

.hidden {
    display: none;
}

.v-hidden {
    visibility: hidden;
    opacity: 0;
}

.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}

.txt-c {
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.txt-success {
    color: $brand-blue-green;
}

.txt-error {
    color: $brand-blue-red;
}

.secondary-info,
.secondary-info a {
  color: $brand-blue-50;
}


.lighter {
    font-weight: lighter;
}

.lighter strong,
.lighter b {
    font-weight: normal;
}

.regular {
    font-weight: normal;
}

.bold, .strong {
    font-weight: bold;
}

.bigger {
    font-size: 1.5em !important;
    // vertical-align: inherit;
}

.big {
    font-size: 1.25em !important;
    margin: 0 auto 1rem;
    line-height: 1.75rem;
    // vertical-align: inherit;
}

.small {
    font-size: .75rem !important;
    line-height: 1rem;
    // vertical-align: inherit;
}

.smaller {
    font-size: .5em !important;
    // vertical-align: inherit;
}

.block {
    width: 100%;
    display: block;
}

.pow {
    font-size: 0.6em;
    vertical-align: top;
    margin: 0 0.2em;
}

.uppercase {
    text-transform: uppercase;
}

.no-uppercase {
    text-transform: none;
}

.muted {
    color: $brand-blue-50;
}

.muted a {
  color: inherit;
  background-color: rgba($black, .04);

  &:hover {
    text-decoration: none;
    background-color: rgba($black, .1);
  }
}

.mt {
  margin-top: 1rem;
}

.mb {
  margin-bottom: 1rem;
}
