<div class="panel col-xs-12">
  <div class="panel-heading panel-heading--bordered">
    <h2>
      <%= title "Programs" %>
      <% if can? :manage, Program %>
        <div class="pull-right">
          <%= link_to 'Nouveau programme', new_program_path, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </h2>
    <% if can? :manage, Project %>
      <ul class="inline-list mt">
        <li><strong>Tous</strong></li>
        <li><%= link_to "Corbeille", deleted_programs_path %></li>
      </ul>
    <% end %>
  </div>

  <div class="panel-body">
    <%= render 'list' %>
  </div>

</div>
