<%= render "projects/page-title" %>

<div class="panel col-xs-12">

  <%= render "projects/tablist" %>

  <div class="panel-body row">
    <% if @program.projects.each do |project| %>
      <div class="col-xs-12 col-md-4">
        <%= render 'projects/project-item', item: project %>
      </div>
    <% end.empty? %>
      <div class="col-xs-12">
        <p class="muted">Il n'y a pas de projets dans ce programme.</p>
      </div>
    <% end %>
  </div>

</div>
