.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1rem;
  color: $brand-25;

  a {
    color: $brand-50;
  }
}

.footer-links {
  list-style: none;
}

.footer-link {
  display: inline-block;

  &:not(:last-of-type) {
    &:after {
      content: "-";
    }
  }
}
