<div class="tablist-heading">
  <ul class="tablist">
    <%= nav_link "Tous", projects_path %>
    <% @programs.each do |program| %>
      <%= nav_link program.name, program_path(program) %>
    <% end %>
    <% if can? :manage, Project %>
      <%= nav_link "Corbeille", deleted_projects_path %>
    <% end %>
  </ul>

  <ul class="tablist right">
    <%= render "layouts/tablist-search" %>
  </ul>
</div>
