<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= render "layouts/card-item", item: @project %>
  </div>

  <div class="col-xs-12 col-md-8">

    <div class="panel">
      <div class="panel-heading">
        <h2>Liste des participants</h2>
      </div>
      <div class="panel-body">
        <% if @project.users.each do |user| %>

          <%= render "layouts/list-item", type: user %>

        <% end.empty? %>

          <p class="muted">Il n'y a personne dans ce projet.</p>

        <% end %>
      </div>
    </div>
  </div>
</div>
