<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= render "layouts/card-item", type: @company %>
  </div>

  <div class="col-xs-12 col-md-8">

    <div class="panel">
      <div class="panel-heading">
        <h2>Liste des employés</h2>
      </div>
      <div class="panel-body">
        <% if @company.employees.each do |employee| %>

          <%= render "layouts/list-item", type: employee %>

        <% end.empty? %>

          <p class="muted">Il n'y a personne dans cette entreprise...</p>

        <% end %>
      </div>
    </div>
  </div>
</div>
