<div class="panel col-xs-12">
    <div class="panel-heading">
        <h2>New Reservation</h2>
    </div>
    <div class="panel-body">
        <%= render 'form', reservation: @reservation %>
    </div>
</div>