<div class="row">
  <div class="col-xs-12 col-md-4">

    <%= render "layouts/card-item", type: @floor %>
    
  </div>

  <div class="col-xs-12 col-md-8">

    <div class="panel">
      <div class="panel-heading">
        <h2>Liste des entreprises</h2>
      </div>
      <div class="panel-body">
        <% if @companies.each do |company| %>

          <%= render "layouts/list-item", type: company %>

        <% end.empty? %>

          <p class="muted">Il n'y a pas d'entreprise à cet étage...</p>

        <% end %>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <h2>Liste des salles de réunion</h2>
      </div>
      <div class="panel-body row">
        <% if @spaces.each do |space| %>

        <div class="col-xs-12 col-md-6 col-xl-4">

          <%= render('meeting_rooms/room-item', room: space, reservation: space.reservations, type: "link") %>

        </div>

        <% end.empty? %>

          <p class="col-xs-12 muted">Il n'y a pas de salle de réunion à cet étage...</p>

        <% end %>
      </div>

    </div>
  </div>
</div>
