.alert {
  position: relative;
  border: none;
  border-radius: 0;
  padding: 1.5rem 1rem;
  font-weight: normal;
  line-height: 1rem;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.alert-success {
    background-color: $brand-green;
    border-color: rgba($black,.1);
    color: rgba($black,.5);
}

.alert-info {
  background-color: $brand-blue;
  border-color: rgba($black,.1);
  color: rgba($black,.5);
}

.alert-warning {
  background-color: $brand-orange;
  border-color: rgba($black,.1);
  color: rgba($black,.5);
}

.alert-danger {
  background-color: $brand-red;
  border-color: rgba($black,.1);
  color: rgba($black,.5);
}

.close {
    line-height: 1rem;
    color: $black;
    text-shadow: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
