.caret {
  align-self: center;
  margin-top: 4px;
  margin-left: 8px;
}

.dropdown-menu {
  border-radius: .125rem;
  padding: .5rem 0;
  font-size: 1rem;

  & > li > a {
    // line-height: 2rem;
    // padding: 0 1.5rem;
    color: $brand-75;
  }
}

.dropdown-menu .title {
  padding: 3px 20px;
  // line-height: 2rem;
  font-weight: bold;
  color: $brand-primary;
}
