.form-inline {
}

.form-sentence input,
.form-sentence select {
    margin-left: .125rem;
    margin-right: .125rem;
}

.form-group {
  margin: 0 auto .5rem;
}

.form-group:last-child {
  margin: 0 auto;
}

.form-inline-links {
  display: block;
  line-height: 2rem;
  margin: 1rem 0 0;
}

.form-row:not(:last-child) {
  margin-bottom: 1.5rem;
}

.select-wrapper {
  position: relative;

  &:after {
    content: "expand_more";
    font-family: Material Icons;
    font-size: 1.25rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: .125rem;
    top: 1px;
    pointer-events:none;
    color: $brand-75;
    text-align: center;
  }
}


.form-control-feedback {
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  line-height: 2rem;
  color: $brand-75;
  right: .125rem;
}

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 1px;
}

.has-feedback label ~ .form-control-feedback {
    top: 1.75rem;
}

.has-feedback-left .form-control-feedback {
  left: .125rem;
}

.has-feedback-left .form-control {
  padding-right: .5rem;
  padding-left: 2.25rem;
}

.has-feedback .form-control {
    padding-right: 2.25rem;
}

.select-wrapper[class*="col-"] {
  &:after {
    right: .625rem;
  }
}

.form-group[class*="col-"] {
  .form-control-feedback {
    right: .625rem;
  }
}

.form-group.has-feedback-left[class*="col-"] {
  .form-control-feedback {
    left: .625rem;
  }
}
