.input-xs {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: .125rem;
}

.form-control {
  height: 2rem;
  border-color: $brand-15;
  border-radius: .125rem;
  box-shadow: none;
  padding: .25rem .5rem;
  font-size: 1rem;
  line-height: 1.5rem;

  &:hover {
    border-color: $brand-25;
  }

  &:focus {
    box-shadow: 0 .125rem .25rem $box-shadow-color;
    border-color: $brand-blue;
  }
}

.form-sentence .form-group {
  display: inline-block;
}

.form-sentence {
  input, select {
    background-color: $whitesmoke;
    padding: 0 .5rem;
    border: none;
    border-radius: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 2rem;
    color: $grey-dark;
  }
}
