.input-xs {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: .125rem;
}

.form-control, select {
  border-color: $brand-15;
  border-radius: .125rem;
  box-shadow: none;
  padding: .1875rem .5rem;
  font-size: 1rem;
  // line-height: 1.5rem;
  color: $brand-75;

  &:hover {
    border-color: $brand-25;
  }

  &:focus {
    box-shadow: 0 .125rem .25rem $box-shadow-color;
    border-color: $brand-blue;
  }

  &.input-xs {
    font-size: .75rem;
    line-height: .875rem;
  }
}

.form-sentence .form-group {
  display: inline-block;
  vertical-align: middle;
}

.datepicker {
  min-width: 200px;
}

// .form-sentence {
//   input, select {
//     background-color: $whitesmoke;
//     padding: 0 .5rem;
//     border: none;
//     border-radius: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     line-height: 2rem;
//     color: $grey-dark;
//   }
// }

select {
  border: 1px solid $brand-75;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    background-color: $brand-10;
  }

  &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $black;
  }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  margin-bottom: 0;
}

.inputfile + label .label-btn {
  border-radius: .125rem;
  font-weight: normal;
  font-size: .875rem;
  line-height: 2rem;
  display: inline-block;
  background-color: $brand-blue;
  border: 1px solid $brand-blue;
  color: $white;
  padding: 0 1rem 0 2.25rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &:hover {
    &:before {
      transform: scaleX(1) skew(0deg);
      transition: transform .25s ease-out;
    }
  }

  &:before {
    content: "";
    background-color: rgba($black,.25);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transform: scaleX(0) skew(-30deg);
    transform-origin: 0 0;
    transition: transform .2s ease-in;
  }

  &:after {
    content: "cloud_upload";
    font-family: Material Icons;
    font-size: 1.25rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: .125rem;
    text-align: center;
    color: inherit;
  }
}

.inputfile:focus + label .label-btn {
  border: 1px solid $brand-15;
  box-shadow: 0 .125rem .25rem $box-shadow-color;

  &:before {
    transform: scaleX(1) skew(0deg);
    transition: transform .25s ease-out;
  }
}

.inputfile + label .label-btn * {
	pointer-events: none;
}

.label-filename {
  display: inline-block;
  line-height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: normal;
  float: right;
  color: $brand-50;
}

.input-include-addon {
  border-radius: .125rem!important;
}

.input-group-addon {
  padding: .375rem .5rem;
  color: $brand-75;
  background-color: $white;

  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input-include-addon + .input-group-addon {
  position: absolute;
  top: 3px;
  right: 1px;
  z-index: 3;
  font-size: 1rem;
  border: none;
  width: 2rem;
  background: transparent;
}
