.list-item {
  background: $white;
  border-radius: $border-radius-small;
  border: 1px solid $border-color;
  padding: 1.5rem;
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: row;
}

.list-item__details {
  margin: 0 0 0 1rem;
}
