.inline-list {
  list-style: none;
  padding: 0;
  line-height: 1.25rem;

  &:last-child {
    margin-bottom: 0;
  }

  li {
    display: inline;
    margin: 0 .5rem .5rem 0;
  }
}

.list-icon {
  font-size: 1.1rem;
  vertical-align: middle;
}

.list-infos {
  list-style: none;
  padding: 0;
  margin: 0 auto 1rem;
}

.simple-list {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
  word-break: break-word;
}


.list-icon {
    &:before {
        speak: none;
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        color: $grey;
        vertical-align: middle;
        padding: 0 .5rem 0 0;
    }
}

.list-icon-phone:before {
    content: "phone";
}

.list-icon-email:before {
    content: "email";
}

.list-icon-floor:before {
    content: "view_agenda";
}

.list-dot {
  background-color: $brand-10;
  width: .75rem;
  height: .75rem;
  border: 2px solid rgba($black, 0.1);
  border-radius: 50%;
  display: inline-block;
  margin: .375rem .5rem 0 0;
  float: left;
}

.list-dot--success {
  background-color: $brand-green;
}

.list-dot--info {
  background-color: $brand-blue;
}

.list-dot--warning {
  background-color: $brand-orange;
}

.list-dot--danger {
  background-color: $brand-red;
}
