.log-item {
  display: flex;
  background-color: $white;
  padding: 1.5rem;
  flex-direction: row;
  align-items: flex-start;

  &:hover {
    background-color: $brand-05;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba($black, .1);
  }

  &.multiple-medias {
    flex-direction: column;
  }
}

.log-item__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.log-item__content {
  margin-bottom: auto;
}

.log-item__header {}

.log-item__date {
  color: $brand-blue;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0 0 .5rem;
}

.log-item__title {
  color: $brand-primary;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0 0 .25rem;

  &.bigger {
    font-size: 1.5rem;
  }
}

.log-item__description {
  color: $brand-75;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0 0 1rem;
}

.log-item__footer {
  display: flex;
  position: relative;
  width: 100%;
  color: $brand-50;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;

  a {
    color: $brand-50;
  }
}

.log-item__medias {
  background-color: $brand-15;
  position: relative;
  overflow: hidden;
  border-radius: $border-radius-small;
  width: 12rem;
  flex-shrink: 0;
  margin: 0 0 0 1em;
  border: 1px solid $border-color;
  cursor: pointer;

  img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    transition: transform 1s ease-in-out;
    z-index: 1
  }

  &:hover {
    img {
      transform: scale(1.25);
      transition-duration: 5s;
      transition-delay: 1s;
    }

    &:before {
      top: 50%;
    }
  }

  &:before {
    position: absolute;
    display: block;
    background-color: rgba($black, .5);
    width: 3rem;
    height: 3rem;
    border-radius: $border-radius-small;
    content: "\E5D0";
    font-family: "Material Icons";
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    color: $white;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s cubic-bezier(0.700, 0.000, 0.265, 1.550);
    z-index: 2;
  }
}

.only-medias {
  flex-direction: column;

  .log-item__medias {
    margin: .5rem 0 1rem 0;
    width: 100%;
    height: auto;
    max-height: 16rem;
  }
}

.multiple-medias .log-item__medias {
  width: 100%;
  margin: 0;
}
