.log-item {
  display: flex;
  background-color: $white;
  padding: 1.5rem;
  flex-direction: row;

  &:hover {
    background-color: $brand-05;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba($black, .1);
  }

  &.multiple-medias {
    flex-direction: column;
  }
}

.log-item__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.log-item__content {
  margin-bottom: auto;
}

.log-item__header {}

.log-item__date {
  color: $brand-blue;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0 0 .5rem;
}

.log-item__title {
  color: $brand-primary;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0 0 .25rem;

  &.bigger {
    font-size: 1.5rem;
  }
}

.log-item__description {
  color: $brand-75;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0 0 1rem;
}

.log-item__footer {
  display: flex;
  position: relative;
  color: $brand-50;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;

  a {
    color: $brand-50;
  }
}

.log-item__medias {
  position: relative;
  overflow: hidden;
  border-radius: $border-radius-small;
  width: 12rem;
  flex-shrink: 0;
  margin: 0 0 0 1em;

  img {
    width: 100%;
    height: auto;
  }
}

.only-medias {
  flex-direction: column;

  .log-item__medias {
    margin: .5rem 0 0 0;
    width: 100%;
    height: auto;
    max-height: 16rem;
  }
}

.multiple-medias .log-item__medias {
  width: 100%;
  margin: 0;
}
