.panel {
    border-color: $border-color;
    border-radius: .125rem;
    box-shadow: 0 .125rem .25rem $box-shadow-color;
    background-color: $white;
    padding: 0;
    color: $brand-75;
}

.panel-header {
  background-color: $brand-15;
  width: 100%;
  height: auto;
  min-height: 4rem;
  max-height: 10rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  border-radius: $border-radius-small $border-radius-small 0 0;

  &:before, &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &:before {

  }

  &:after {
    @include linearGradient(rgba($black, 0), rgba($black, .25));
    border: 1px solid rgba($black, .1);
  }

  img {
    position: relative;
    width: 100%;
    z-index: 1;
  }
}

.panel-header + .panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.panel-heading {
    background-color: transparent;
    border: none;
    padding: 2rem 1.5rem 1rem;
}

.panel-heading--bordered {
  border-bottom: 1px solid $border-color;
  margin: 0 0 1rem 0;
}

.panel-default > .panel-heading {
    background-color: transparent;
    padding: 0 1.5rem 1rem;
}

.panel-body {
  padding: 0 1.5rem 1rem;

  &:last-child {
    padding: 0 1.5rem 2rem;
  }
}

.panel-heading-prefix {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    color: $brand-blue;
    padding: 0 1rem;
}

.img-thumbnail + .panel-heading {
    margin: 1rem 0 0;
    padding: 0 1.5rem .5rem;
}

.panel-grey {
  background-color: $brand-05;
}

.panel-title {
  margin: 0 auto;
  font-size: 1.25rem;
  line-height: 2rem;
  color: $brand-primary;
}

.panel-subtitle {
  margin: 0 auto .5rem;
}

.panel-footer {
  background-color: $brand-05;
  padding: 1rem 1.5rem 2rem;
}

.panel-top {
  overflow: hidden;
  border-radius: $border-radius-small $border-radius-small 0 0;
}

.panel-top + .panel {
  border-top: none;
  border-radius: 0 0 $border-radius-small $border-radius-small;
}
