.panel {
    border: none;
    border-bottom: 2px solid rgba($black, .1);
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #FEFEFE;
}

.panel-heading {
    background-color: $white;
    border: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.panel-default > .panel-heading {
    background-color: $white;
    padding: 15px;
}