.reservation-grid {
    margin: 0 -.5rem;
    padding: .5rem 1.5rem 1.5rem;

    .reservation {
      margin-bottom: 1rem;
    }
}

.reservation-list {
    margin: 0;
    padding: 0 1.5rem 1rem;

    .reservation {
        width: 100%;
        margin: 1rem 0;
    }
}

.reservation {
    background-color: $white;
    display: flex;
    flex-direction: row;

    @include rwd-max-width(700px) {
      flex-direction: column;
    }
}

.reservation.booked {
    .reservation-infos {
        &:after {
            content: 'lock';
            position: absolute;
            bottom: 1rem;
            left: 50%;
            @include vendor(transform, translateX(-50%));
            font-family: Material Icons;
            font-size: 4rem;
            line-height: 4rem;
            color: $black;
            opacity: .25;
            z-index: 0;
        }
    }
}

.reservation-infos {
    background-color: $grey;
    border-radius: .125rem 0 0 .125rem;
    padding: 1rem;
    white-space: nowrap;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    min-height: 176px;

    &:only-child {
        width: 100%;
        border-radius: .125rem;
    }

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        @include linearGradient(rgba($black,0), rgba($black, .25));
    }
}

.reservation-infos-content {
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 2rem;
}

.reservation-infos-name {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgba($black, .75);
}

.reservation-infos-floor {
  font-size: 1rem;
  line-height: 1rem;
  color: rgba($black, .5);
}

.reservation-infos-bottom {
  width: 100%;
  align-self: flex-end;
  position: relative;
  z-index: 2;
}

.reservation-infos-prefix {
  font-size: .75rem;
  line-height: 1rem;
  color: rgba($white, .75);
}

.reservation-infos-resident {
    color: $white;
    line-height: 2rem;
    font-size: 1rem;
    display: inline-block;

    &:hover {
        color: $white;
    }
}

a.reservation-infos-resident:hover {
  text-decoration: underline;
}

.reservation-infos-resident-list {
  display: none;
  position: absolute;
  width: 100%;
  padding: 1rem .5rem .5rem;
  margin: 0 0 1rem;

  &:before {
    content: "";
    width: 1rem;
    height: 1rem;
    border: .5rem solid rgba($black, .75);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -.5rem;
    @include vendor(transform, translateX(-50%));
  }

  &:after {
    content: '';
    position: absolute;
    top: .5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black,.75);
    border-radius: .125rem;
    z-index: -1;
  }
}

.reservation-infos-bottom:hover .reservation-infos-resident-list {
  display: block;
}

.reservation-infos-resident-list .reservation-infos-resident {
  line-height: 1.5rem;
  margin: 0 0 .5rem;
}

.reservation-infos-resident-list a {
  color: $white;
  cursor: pointer;
}

.reservation-details {
    width: 100%;
    border: 1px solid rgba($black, .1);
    border-left: none;
    border-radius: 0 .125rem .125rem 0;
    padding: 1rem 1.5rem;

    h3 {
        font-size: 1rem;
        font-weight: bold;
        line-height: 2rem;
        margin: 0;
    }

    p {
        font-size: 1rem;
        line-height: 1rem;
        margin: 0 0 1rem;
    }
}

.btn-reservation {
    display: block;
    width: 100%;
    background-color: $white;
    border-radius: .125rem;
    min-width: 196px;
    padding: 0 .25rem;
    line-height: 2rem;
    font-size: 1rem;
}
