.img-thumbnail {
    background-color: $grey-light;
    padding: 0;
    border-radius: 0;
    border: none;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid rgba($black, .1);
    }
}