.thumbnail {
  background-color: $brand-15;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  position: relative;
  display: inline-block;

  &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 2px solid rgba($black,.1);
  }

  img {
    -o-object-fit: cover;
    object-fit: cover;
  }
}

// No thumb > icon

.no-thumb {
    &:before {
        font-family: Material Icons;
        font-size: 4rem;
        line-height: 4rem;
        color: $brand-50;
        position: absolute;
        top: 50%;
        left: 50%;
        @include vendor(transform, translate(-50%, -50%));
    }
}

.no-thumb.resident-thumb:before {
  content: "person";
}

.no-thumb.company-thumb:before {
  content: "location_city";
}

.no-thumb.project-thumb:before {
  content: "assignment";
}

.no-thumb.floor-thumb:before {
  content: "view_agenda";
}

.no-thumb.place-thumb:before {
  font-family: "Material Design Icons";
  content: "\F1A6";
}

.no-thumb.image-thumb:before {
  content: "insert_photo";
}

// Thumb shapes

.ovale-thumb, .ovale-thumb:after {
  border-radius: 50%;
  overflow: hidden;
}

.losange-thumb {
  width: 68px;
  height: 68px;
  transform: rotate(45deg);

  &:before {
    font-size: 3rem;
    line-height: 3rem;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  & > * {
    transform: rotate(-45deg)!important;
  }
}

.navbar-thumbnail {
  vertical-align: middle;
}
