<div class="panel col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel-heading">
        <h2>Modifier un résident</h2>
    </div>

    <div class="panel-body">
        <%= simple_form_for @user, url: resident_path(@user) do |f| %>
          <%= render 'form', user: @user, form: f %>
        <% end %>
    </div>
</div>
