<div class="panel col-xs-12">
  <div class="panel-heading">
    <h2>
      Liste des personnes
      <% if can? :manage, User %>
        <%= link_to "Nouvelle personne", new_resident_path, class: 'btn btn-primary pull-right' %>
      <% end %>
    </h2>
  </div>

  <div class="panel-body">
    <%= render 'list' %>
  </div>

</div>
