<div class="panel col-xs-12">
  <div class="panel-heading">
    <h2>
      Personnes
      <% if can? :manage, User %>
      <div class="pull-right">
        <%= link_to residents_path(format: :xls), class: "btn btn-default btn-icon" do %>
          <i class="material-icons">file_download</i> <span>Export Excel</span>
        <% end %>
        <%= link_to "Nouvelle personne", new_resident_path, class: 'btn btn-primary' %>
      </div>
      <% end %>
    </h2>
    <% if can? :manage, User %>
    <ul class="inline-list mt">
      <li><strong>Tous</strong></li>
    </ul>
    <% end %>
  </div>

  <div class="panel-body">
    <%= render 'list' %>
  </div>

</div>
