<div class="panel col-xs-12">
    <div class="panel-heading">
        <h2>Ajouter un résident</h2>
    </div>
    <div class="panel-body">
        <%= simple_form_for @user, url: residents_path do |f| %>
            <%= render 'form', user: @user, form: f %>
        <% end %>
    </div>
</div>