// Basic colors

$white:                     #FFFFFF;
$black:                     #000000;


// to-do: delete this
$grey-dark:                 #444444;
$grey:                      #777777;
$grey-light:                #999999;

$whitesmoke-dark:           #EEEEEE;
$whitesmoke:                #F5F5F5;
$whitesmoke-light:          #FEFEFE;

// Brand colors

$brand-blue-primary:             #202545;
$brand-blue-blue:                #377AF4;
$brand-blue-cyan:                #27DFF2;
$brand-blue-green:               #4FE88D;
$brand-blue-yellow:              #FDCC47;
$brand-blue-orange:              #FFA543;
$brand-blue-red:                 #F44E63;

// Brand declinaisons
$brand-blue-75:                  #555971;
$brand-blue-50:                  #898C9C;
$brand-blue-25:                  #BDBEC6;
$brand-blue-15:                  #DCDDE0;
$brand-blue-10:                  #EAEAEC;
$brand-blue-05:                  #F4F4F5;

// Other
$border-color:              $brand-blue-15;
$box-shadow-color:          rgba($black, .04);

// Fonts

$brand-blue-font:                CircularStd, sans-serif;
$icons-font:                Schoolab Icons;
$primary-font:              Source Sans Pro, sans-serif;

$border-radius-small:      .125rem;
$border-radius-base:       .25rem;
$border-radius-large:      .325rem;
