<div class="log-item">
  <div class="log-item__container">

    <%= render "projects/logs/log-item-header", item: item %>

    <div class="log-item__content">

      <div class="log-item__title">
        <%= item.title %>
      </div>
      <div class="log-item__description">
        <%= item.description %>
      </div>

    </div>

    <%= render "projects/logs/log-item-footer", item: item %>

  </div>
</div>
