<div class="form-group has-feedback has-feedback-left">
  <input class="tablist-search search form-control" placeholder="Filtrer..." />
  <i class="form-control-feedback material-icons">search</i>
</div>
